<%- include('includes/head') %>
<%- include('includes/navbar') %>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-3">
                <h1 class="text-center">Agenda</h1>
                <p class="text-center lead">Seus contatos estão abaixo.</p>

                <div class="responsive-table">
                    <table class="table my-3">
                        <tr>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Telefone</th>
                            <th>E-mail</th>
                            <th span="2"></th>
                        </tr>
                        <% contacts.forEach(contact => { %>
                            <tr>
                                <td><%= contact.firstname %></td>
                                <td><%= contact.lastname %></td>
                                <td><%= contact.phone %></td>
                                <td><%= contact.email %></td>
                                <td><a href="/contact/<%= contact._id %>">Editar</a></td>
                                <td><a class="text-danger" href="/contact/delete/<%= contact._id %>">Excluir</a></td>
                            </tr>
                        <% }); %>
                    </table>
                </div>

                <%- include('includes/messages') %>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
<%- include('includes/footer') %>
